.imagem-carrossel {
    height: 400px;
    object-fit: cover;
    object-position: 0 80%;
}

.font-title {
    font-family: "Pacifico", cursive;
}

.color_wine {
    color: darkred;
}

.button_background_color {
    background-color: darkred;
    color: #fff;
}

.button_background_color:hover {
    filter: brightness(0.8);
    color: #fff;
}

.border_color {
    border-color: darkred;
    width: 18rem;
}

.card_position {
    height: 200px;
    object-fit: cover;
}
